# Ignore all contents of the data directory
examples/alaska_orphaned_frames/data/*

# But keep the directory structure by tracking .gitkeep files
!data/.gitkeep

# Ignore contents of specific directories
.ipynb_checkpoints
examples/alaska_orphaned_frames/deprecated

# Ignore these files
examples/alaska_orphaned_frames/token.txt
examples/alaska_orphaned_frames/metadata_filter.json